body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 50px;
    margin: auto;    
}

p {
    color: gray;
}

a {
    color: aquamarine;
}